.place__title {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  text-align: left;
  line-height: 1.06;
  max-width: 460px;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 600px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 400px) {
  .place__title {
    margin: 0 16px;
  }
}
