.photo-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-gap: 12px;
    grid-template-columns: 1fr;
    margin: 0 16px;
  }
}
