.lead {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    margin-bottom: 64px;
    max-width: 320px;
  }
}
