.cover__subtitle{
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 245px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 1.22;
  max-width: 360px;
}
