.cover__subtitle {
  z-index: 1;
  margin: 32px auto 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 1.22;
  max-width: 360px;
}

@media screen and (max-width: 550px) {
  .cover__subtitle {
    font-size: 16px;
    line-height: 1.14;
    max-width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    margin: 16px auto 0;
    max-width: 288px;
  }
}
