.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .header {
   margin: 0 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
   margin: 0 16px 0;
  }
}
