.footer__link {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #fff;
}

@media screen and (max-width: 632px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    min-height: 24px;
  }
}
