.footer__links {
  margin: 0px 18px 0px 0px;
  padding: 0;
}

.footer__links:last-child {
  margin: 0;
}

@media screen and (max-width: 700px) {
  .footer__links {
    margin-right: 8px;
  }
}

@media screen and (max-width: 650px) {
  .footer__links {
    margin-right: 4px;
  }
}

@media screen and (max-width: 632px) {
  .footer__links {
    margin-bottom: 32px;
    margin-right: 0;
  }
}
