.place__paragraph {
  margin: 0 0 26px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  line-height: 1.63;
  color: #fff;
  padding: 0;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    margin: 0 0 25px;
  }
}

@media screen and (max-width: 400px) {
  .place__paragraph {
    margin: 0 16px 25px;
  }
  .place__paragraph:last-child {
    margin: 0 16px;
  }
}
