.lead__subtitle {
  padding-top: 32px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  line-height: 1.2;
  max-width: 640px;
}

@media screen and (max-width: 694px) {
  .lead__subtitle {
    max-width: 540px;
    font-size: 25px;
  }
}

@media screen and (max-width: 565px) {
  .lead__subtitle {
    max-width: 440px;
    font-size: 20px;
    line-height: 1.02;
  }
}

@media screen and (max-width: 350px) {
  .lead__subtitle {
    padding-top: 16px;
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
  }
}
