.cover {
  background: url("../../images/cover-trains.jpg");
  background-size: cover;
  width: 100%;
  height: 740px;
  position: relative;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-height: 640px;
  }
}

@media screen and (max-width: 953px) {
  .cover {
    height: 600px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    height: 200px;
  }
}
