.cover {
  background: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 896px) {
  .cover {
    min-height: 600px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 500px) {
  .cover {
    min-height: 200px;
  }
}
