.cover__background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 740px;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  margin: 0;
}

.cover__background::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 896px) {
  .cover__background {
    min-height: 600px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 500px) {
  .cover__background {
    min-height: 200px;
  }
}
