.lead__caption {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1.4;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}
