.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  margin: 0;
  padding-bottom: 80px;
}

.place:last-child {
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-column-gap: 28px;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: 220px 1fr;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 500px) {
  .place {
    grid-template-columns: 1fr;
    padding-bottom: 50px;
    grid-row-gap: 32px;
  }
}
