.place__url-heading {
  margin: 0 0 15px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  line-height: 1;
  letter-spacing: 2px;
  color: #aaa;
  text-transform: uppercase;
}

@media screen and (max-width: 400px) {
  .place__url-heading {
    font-size: 12px;
  }
}
